.homeContainer {
    display: flex;
    flex-direction: column;
}

.homeForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

.homeLabel {
    height: 100%;
    width: 15%;
}

.homeInput {
    width: 65%;
}

.shortenButton {
    width: 60%;
}

.shortenedLinksList {
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: larger;
}

.shortenedLinksListItem {
    margin-bottom: 1%;
    position: relative;
    width: 100%;
    border: 1px solid #4CAF50;
    display: flex;
    justify-content: space-between;
    animation: fadeInFromNone .2s ease-out;
}

.printPairURL{
    width: 50%;
    border: 2px solid #ccc;
    font-size: 20px;
    margin-top: 8px;
    background-color:  rgb(243, 245, 240);
}

.hideLongURL{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.homeForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeLabel {
    font-weight: larger;
    height: 100%;
    width: 15%;
    margin-right: 1%;
}

.homeInput {
    width: 65%;
}

.shortenButton {
    margin-top: 2%;
    width: 60%;
}

.shortenedLinksList {
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shortenedLinksListItem {
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
    width: 100%;
    border: 1px solid #4CAF50;
    display: flex;
    justify-content: space-between;
    animation: fadeInFromNone .2s ease-out;
}

.printPairURL{
    width: 50%;
    border: 2px solid #ccc;
    font-size: 20px;
    margin-top: 8px;
    background-color:  rgb(243, 245, 240);
}

.hideLongURL{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
}

.copyButton {
    background-color: white;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}