.aboutContainer {
    display: flex;
    flex-direction: column;
}

.aboutItem {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}
  
.uniInstruction {
    text-align: left;
    width: 70%;
    margin-top: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.answer {
    position: relative;
    left: 15%;
    padding: 1%;
}
  
.uniInstruction.collapse {
    background-color: whitesmoke;
}
  
.instructionButton {
    height: 4em;
}